.Charts-comp {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.buttons-div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-btn {
  width: 100px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 5px;
  padding: 5px;
  background-color: #34495E;
  border-radius: 10px;
}
